@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;900&family=Roboto:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  background-image: radial-gradient(
    #ffadad,
    #ffd6a5,
    #fdffb6,
    #caffbf,
    #9bf6ff,
    #bdb2ff,
    #ffc6ff
  );
    min-height: 100vh;
    background-size: 500% 500%;
    animation: move 10s alternate infinite;
}

@keyframes move {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100% 100%;
  }
}

.App {
  display: flex;
  justify-content: center;
}

header {
  width: 60%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background-color: black;
  text-decoration: none;
}

.logo p {
  font-family: Raleway;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  display: flex;
  padding: 30%;
  justify-content: center;
}

.library {
  display: flex;
  float: right;
  text-decoration: none;
}

.library p {
  font-family: Raleway;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}

.icon {
  width: 20px;
  height: 20px;
  position: relative;
  left: -3px;
  top: 2px;
}

.main_body {
  width: 60%;
  margin-top: 200px;
  display: flex;
  flex-direction: row;
}

.text {
  font-size: 30px;
  font-family: Raleway;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
  text-align: left;
  position: absolute;
  top: 25vh;
}

.text .manage {
  color: #FF00B8;
}

.text .your {
  color: white;
}

.text .time {
  color: #0500FF;
}

.form {
  background-color: white;
  width: 19%;
  height: 35%;
  padding: 20px;
  position: absolute;
  right: 20%;
  box-sizing: border-box;
  white-space: pre-line;
  border-radius: 15px;
  border: 1px solid black;
}

.form p {
  font-family: Raleway;
  font-size: 15px;
}

.form select {
  max-width: 250px;
  width: 100%;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: Raleway;
}

.question {
  line-height: 25px;
  margin-bottom: 10px;
}

.result_btn {
  text-decoration: none;
}

.result_btn p{
  max-width: 250px;
  width: 100%;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-family: Raleway;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  transition: .3s;
}

.result_btn p:hover {
  color: rgb(0, 255, 30);
  /* border: 1px solid rgb(0, 255, 30); */
}

.in_line {
  display: inline-block;
}

.left_text {
  display: flex;
  flex-direction: column;
  margin-top: 37%;
}

.desc p{
  color: white;
  font-size: 18px;
  font-family: Raleway;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  font-weight: bold;
  position: relative;
  bottom: 14vh;
}


.cont_result {
  background-color: grey;
  width: 10%;
  height: 20%;
  position: absolute;
  display: flex;
}



@media screen and (max-width: 840px){
  .text {
    font-size: 20px;
    font-family: Raleway;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    text-align: left;
    position: absolute;
    top: 25vh;
  }
  
  .form {
    background-color: white;
    width: 25%;
    height: 50%;
    padding: 20px;
    position: absolute;
    right: 20%;
    box-sizing: border-box;
    white-space: pre-line;
    border-radius: 15px;
    border: 1px solid black;
  }
  
  .form p {
    font-family: Raleway;
    font-size: 13px;
  }
  
  .question {
    line-height: 20px;
    margin-bottom: 20px;
  }
  
  /* .choose {
    line-height: 30px;
  } */
  
  .in_line {
    display: inline-block;
  }
  
  .left_text {
    display: flex;
    flex-direction: column;
    margin-top: 33%;
  }
  
  .cont_result {
    background-color: grey;
    width: 10%;
    height: 20%;
    position: absolute;
    display: flex;
  }
}


@media all and (max-width: 414px){
  header {
    width: 70%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
  }

  .text {
    font-size: 15px;
    font-family: Raleway;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    text-align: left;
    position: absolute;
    top: 25vh;
    right: 35vh;
  }
  
  .form {
    background-color: white;
    width: 35%;
    height: 40%;
    padding: 15px;
    position: absolute;
    bottom: 35%;
    right: 15%;
    box-sizing: border-box;
    white-space: pre-line;
    border-radius: 15px;
    border: 1px solid black;
  }
  
  .form p {
    font-family: Raleway;
    font-size: 12px;
  }
  
  .question {
    line-height: 20px;
    margin-bottom: 10px;
  }
  
  .in_line {
    display: inline-block;
  }
  
  .left_text {
    display: flex;
    flex-direction: column;
    margin-top: 33%;
  }

  .result_btn {
    text-decoration: none;
  }

  .desc p{
    color: white;
    font-size: 8px;
    font-family: Raleway;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.4px;
    font-weight: bold;
    position: relative;
    top: 20vh;
    right: 4vh;
  }
}