@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;900&family=Roboto:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #bdb2ff;
  background-image: radial-gradient(
    #282828,
    #414141,
    #525252,
    #666666,
    #747474,
    #828282,
    #999999
  );
    min-height: 100vh;
    background-size: 500% 500%;
    animation: move 10s alternate infinite;
}

@keyframes move {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100% 100%;
  }
}

.Library {
  display: flex;
  justify-content: center;
}

.language {
  font-family: Raleway;
  font-size: 19px;
  font-weight: bolder;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  position: absolute;
  top: 12%;
  left: 87%;
}

header {
  width: 60%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: black;
  text-decoration: none;
}

.logo p {
  font-family: Raleway;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  display: flex;
  padding: 30%;
  justify-content: center;
}

.library {
  display: flex;
  float: right;
  text-decoration: none;
}

.library p {
  font-family: Raleway;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}

.icon {
  width: 20px;
  height: 20px;
  position: relative;
  left: -3px;
  top: 2px;
  text-decoration: none;
}
