@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;900&family=Roboto:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  scrollbar-width: none;
}

body {
  background-color: #bdb2ff;
  background-image: radial-gradient(
    #ffadad,
    #ffd6a5,
    #fdffb6,
    #caffbf,
    #9bf6ff,
    #bdb2ff,
    #ffc6ff
  );
    min-height: 100vh;
    background-size: 500% 500%;
    animation: move 10s alternate infinite;
}

@keyframes move {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100% 100%;
  }
}

.Library {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.language {
  font-family: Raleway;
  font-size: 19px;
  font-weight: bolder;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  position: absolute;
  top: 12%;
  left: 87%;
}

.header {
  width: 60%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: absolute; */
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: black;
  text-decoration: none;
}

.logo p {
  font-family: Raleway;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  display: flex;
  padding: 30%;
  justify-content: center;
}

.library {
  display: flex;
  float: center;
  text-decoration: none;
}

.library p {
  font-family: Raleway;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}

.icon {
  width: 20px;
  height: 20px;
  position: relative;
  left: -3px;
  top: 2px;
  text-decoration: none;
}

.tv_card {
  /* display: table; */
  width: 75%;
  height: 25%;
  border: 0;
  margin-top: 30px;
}

.tv_box {
  width: 20%;
  height: 430px;
  background: white;
  float: left;
  margin-inline-start: 10%;
  margin-bottom: 20px;
  border-style: solid;
  border-radius: 15px;
  cursor: pointer;
  transition: box-shadow .3s;
}

.tv_box img {
  width: 100%;
  height: 300px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-style: solid;
}

.tv_box .info {
  margin: 10px;
  font-weight: 500;
}

.tv_box .info a {
  text-decoration: none;
}

.tv_box .info a p {
  margin-top: 15px;
  color: white;
  background: black;
  width: 100px;
  text-align: center;
  border-radius: 15px;
}

.tv_box:hover {
  box-shadow: 0 0 11px rgb(229, 255, 0); 
}

.filter {
  display: flex;
  height: 40px;
  max-width: 60%;
}

.filter .btn {
  margin-right: 5px;
  border-radius: 5px;
  width: 150px;
  background: white;
}

.filter .btn:hover {
  background: black;
  color: white;
  transition: .5s;
}